<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="logFileName">recording</Property>
    </Properties>
    <Appenders>
        <!-- 控制台输出 -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS}[%t]%-5level:%msg%n" />
        </Console>

        <!-- 异步控制台输出，提高性能 -->
        <Async name="AsyncConsole">
            <AppenderRef ref="Console" />
            <BufferSize>1024</BufferSize>
        </Async>

        <!-- 文件输出 -->
        <RollingFile name="RollingFile" fileName="logs/${sys:log.filename}.log"
            filePattern="logs/${sys:log.filename}-%d{yyyyMMdd_HHmmss}-%i.log.gz">
            <PatternLayout pattern="%d{HH:mm:ss.SSS}[%t]%-5level:%msg%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="100 MB" />
                <DeleteAction basePath="logs" maxDepth="1">
                    <IfFileName glob="*.gz">
                        <IfLastModified age="5d">
                            <Delete />
                        </IfLastModified>
                    </IfFileName>
                </DeleteAction>
                <DeleteAction basePath="logs" maxDepth="1">
                    <IfFileName glob="*.gz">
                        <IfAccumulatedFileCount exceeds="100">
                            <Delete basePath="logs" maxDepth="1">
                                <IfFileName glob="*.gz">
                                    <IfLastModified age="1d">
                                        <Delete />
                                    </IfLastModified>
                                </IfFileName>
                            </Delete>
                        </IfAccumulatedFileCount>
                    </IfFileName>
                </DeleteAction>
            </Policies>
            <DefaultRolloverStrategy max="10" />
        </RollingFile>

        <!-- 异步文件输出 -->
        <Async name="AsyncFile">
            <AppenderRef ref="RollingFile" />
            <BufferSize>1024</BufferSize>
        </Async>
    </Appenders>

    <Loggers>
        <!-- Agora日志配置 -->
        <Logger name="agora" level="info" additivity="false">
            <AppenderRef ref="AsyncConsole" />
            <AppenderRef ref="AsyncFile" />
        </Logger>

        <!-- 根日志配置 -->
        <Root level="info">
            <AppenderRef ref="AsyncConsole" />
        </Root>
    </Loggers>
</Configuration>